.duration {
  background-color: rgba(116, 116, 116, 0.336) !important;
  position: absolute;
  top: -3%;
  right: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  transition: 0.3s;
  font-size: 14px;
}

.card:hover .duration {
  top: -20%;
  visibility: visible;
  cursor: pointer;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.instructor_name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
