.main {
  margin-top: 0.2rem;
  background-color: rgb(247, 243, 243);
  justify-content: space-between;
  width: 320px;
  padding: 0.5rem;
  border-radius: 0.3rem;
  display: flex;
}
input {
  background-color: rgb(247, 243, 243);
  outline: none;
  color: black;
  border: none;
  font-style: italic;
}

/* .icon {
  top: 4rem;
  right: 1.3rem;
} */
.icon-search {
  color: rgb(226, 15, 15);
  font-size: 1.2rem;
}

.hero {
  width: 100%;
  min-width: 100vh;
  background-color: #eceaff;
  color: #525252;
}
nav {
  background-color: #fff;
  width: 100%;
  padding: 0.8rem 0.8rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  position: sticky !important;
  top: 0 !important;
  z-index: 10000;
}
nav ul {
  width: 100%;
  text-align: right;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 1rem 1.2rem;
}

/* .user-pic {
  width: 120px;
  margin-left: 30px;
} */
.sub-menu-wrap {
  position: absolute;

  top: 3.2rem;
  left: 20.5rem;
  /* width: 30px; */
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu {
  max-height: 70rem;
}
.sub-menu {
  background: rgb(246, 239, 239);
  padding: 1.2rem;
  margin: 1rem;
  border-radius: 0.6rem;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info h3 {
  font-weight: bold;
  text-align: left;
  color: gray;
}

.sub-menu hr {
  border: 0;
  width: 100%;
  background-color: black;
  margin: 1.2rem 0 1rem;
}
.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0.6rem 0;
}
.ss {
  display: flex;
  width: 100%;
}
.sub-menu-link p {
  width: 100%;
  color: rgb(27, 23, 23);
}
.sub-menu-link span {
  color: gray;
  font-size: 22;
  transition: transform 0.3s;
}
.sub-menu-link :hover span {
  transform: translateX(5px);
}
.sub-menu-link:hover p {
  font-weight: 600;
}

.ss:hover {
  background-color: rgb(246, 239, 239) !important;
  outline: none;
  color: red !important;
}

img {
  width: 8%;
}

.logo {
  background-color: #f1ebeb;
  border: 1px solid #bc090f;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  margin-top: 0.8rem;
  color: #eb2027;
}
.logo span {
  color: rgb(53, 19, 84);
}
