:root {
  --primaryColor: #fff;
  --accentColor: #5d6666;
  --backgroundColor: #fff;
}

.tx-primary {
  color: var(--primaryColor) !important;
}

.bag-primary {
  background-color: var(--primaryColor) !important;
}

.border_primary {
  border: var(--primaryColor) !important;
}

/* /////////////////////// */

.tx-accentColor {
  color: var(--accentColor) !important;
}

.bag-accentColor {
  background-color: var(--accentColor) !important;
}

.border_accentColor {
  border: var(--accentColor) !important;
}

/* /////////////////////// */

.tx-backgroundColor {
  color: var(--backgroundColor) !important;
}

.bag-backgroundColor {
  background-color: var(--backgroundColor) !important;
}

.border_backgroundColor {
  border: var(--backgroundColor) !important;
}


/* //////////////////////////// */